.home-header,
.trivia-header, .summary-header {
  padding: 20px;
}

.heading {
  color: white;
  text-shadow: 2px 2px black;

    font-weight: bolder;
}

.home-container,
.trivia-container {
  display: flex;
  justify-content: center;
  padding: 25px;
  margin: auto;
  border: 2px solid rgb(59, 59, 137);
  border-radius: 10px;
  width: 300px;
  background: linear-gradient(white, aliceblue);
}


.trivia-container {
  width: 400px;
}

.summary-container {
  padding: 25px;
  margin: auto;
  border: 2px solid rgb(59, 59, 137);
  border-radius: 10px;
  width: 300px;
  background: linear-gradient(white, aliceblue);
}


.trivia-next-button, .trivia-cancel-button, .summary-home-button {
  height: 35px;
  width: 175px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgb(59, 59, 137);
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-right: 8px;
}

